# Database settings
DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=admin
DB_NAME=safeguard_ai

# Django Settings
SECRET_KEY=django-insecure-this-is-a-development-key-only
DEBUG=True

# Redis
REDIS_URL=redis://redis:6379/1

# MinIO
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=password123
MINIO_ENDPOINT=minio:9000
